@use "sass:map";

$dark-overlay: rgba(0, 0, 0, 0.6);
$dark-red: rgb(173, 12, 12);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// LANDING HEADER

// background-color: #0070f3;
// box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);

.text-darkred {
  color: $dark-red;
}

.btn-danger {
  background: $dark-red;
}

// NAVBAR
.custom-navbar {
  background: transparent;
}
.activated {
  background: $dark-red;
}

.navbar-modal-header {
  font-size: 26px;
  font-weight: 400;
  color: $dark-red;

  &:hover {
    cursor: pointer;
  }
}

.landing-header {
  height: 100%;
  width: 100%;
  background-image: url("../images/pexels-binyamin-mellish-17840.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //background-attachment: fixed;

  .landing-header-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .landing-header-text {
      text-align: center;
    }

    .text-darkred {
      color: $dark-red;
    }
  }
}

// REASONINGS

.reasonings-section {
  min-height: 220px;
  color: $dark-red;

  .reasonings-content {
    margin-top: -100px;
    background: white;
  }

  .cc-rounded {
    border-radius: 18px;
  }

  i {
    color: black;
  }

  p {
    color: black;
  }
}

//Quote
.quote-section {
  min-height: 380px;
  background-image: linear-gradient(black, rgb(173, 12, 12));
  color: white;
  display: flex;
  align-items: center;
}

.testimonals-section {
  min-height: 400px;
}

.footer-section {
  min-height: 150px;
  background: black;
  color: white;
}

.contact-form-section {
  background-image: linear-gradient(white, rgb(0, 0, 0));
  min-height: 700px;

  .contact-form {
    height: 5%;
  }

  @media screen and (min-width: $breakpoint-lg) {
    min-height: 700px;
  }
}

.modal-footer {
  padding-bottom: calc(0.1rem + env(safe-area-inset-bottom));
}

.products-section {
  .product-scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;

    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      margin-bottom: -10px;

      .product-image-wrapper {
        display: inline-block;
        position: relative;
        width: 280px;
      }

      @keyframes placeholder {
        0% {
          background-color: #fff;
        }
        50% {
          background-color: #ccc;
        }
        100% {
          background-color: #fff;
        }
      }

      .product-image-placeholder {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        animation: placeholder 1s infinite;
      }

      //       .product-image {
      //         position: absolute;
      //         left: 0;
      //         width: 100%;
      //         height: 100%;
      //         object-fit: cover;
      //       }
    }
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }
  }
}

//some CSS
@media screen and (max-width: $breakpoint-sm) {
  h3 {
    font-size: 20px;
  }

  small {
    font-size: 12px;
  }

  .modal-product-image {
    height: 160px;
    width: 160px;
  }
}

.modal-header {
  button {
    background: $dark-red;
    border: 1px solid gray;
    color: white;
    border-radius: 6px;
  }
}
